/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */
html {

}

body {

  font: 18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}

p {
  /*text-indent: 2em;*/
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #222;
  font-weight: 700;
}



img {
  max-width: 100%;
  height:auto;
}


blockquote {
  padding:20px 20px 0px 20px;
  background-color: #eee;
  border:2px solid #ccc;
  display: block;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow-x: auto;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border:1px solid #e5e5e5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  overflow-x: auto;
}
pre,code {
  background:#e8f5fe;
  color:#000;
}

.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.post-meta {
  font-size: medium;
  color: #666;
}
