html {
}

body {
    font: 18px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
}

a {
    color: #555;
    text-decoration: none;
    display: block;
    width: 100%;
    height: auto;
}

a:hover, a:focus {
    color: #222;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

li {
    padding: 9px 16px 9px 16px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #bbb;
    list-style: none;
    list-style-type: none;
    width: auto;
}

.odd {
    background-color: #eee;
}

.even {
    background-color: #fff;
}
