/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */
html {

}

body {

  font: 18px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  width: 100%;
  height:  36px;
  background: #fff;
}

li:hover {
  background: #eee;
}

a {
  display: block;
  width: 100%;
  height: auto;
}
