/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */

html {
}

body {
  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 15px;
  max-width: 750px;
}

a {
  color: #000;
}

a:hover, a:focus {
  color: #000;
  background-color: #eee;
  text-decoration: underline;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

li {
  line-height: 26px;
  width: auto;
}
