/* @import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700); */
html {

}

body {

  font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  margin-left: 0px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(142, 255, 186, 0.7);
}

a:hover, a:focus {
  color: #000;
  text-decoration: underline;
}

p {
  margin: 0 0 20px;
  padding: 0;
}
