---
layout: default
title: uuspider's private page
---
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div class="">
<table border="0"  bgcolor="#fff" >
  <tr >
    <td valign="bottom">
        <img src="{{site.baseurl}}images/icon.jpeg" width="48" height="48" alt="uuspider" title="A thumbnail of uuspider" ></img>
    </td>
    <td valign="">
      <font><span id=localtime></span></font><br>
      <font><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" title="Creative Commons Attribution-NonCommercial 4.0 International License."><img src="http://creativecommons.org/images/deed/cc-logo.jpg" width="12" height="12" alt="(CC)" /> <img src="http://creativecommons.org/icons/by/standard.gif" width="12" height="12" alt="BY" /> <img src="http://creativecommons.org/icons/nc/standard.gif" width="12" height="12" alt="NC" /> </a>2009-2015 by uusp</font><strong><font color="red">i</font></strong><font>der</font>
      <script language="JavaScript" src="{{ site.baseurl }}javascripts/date.js"></script>
    </td>
  </tr>
</table>
</div>

<hr>

<div width= "100%">
  <div style="background:#e8f5fe";>
    <font><b>TIPS & MEMOS</b></font>
  </div>

  <div border="2">
      <font>
    	&raquo; <a href="http://uuspider.com/2015/01/13/01.html" target="_blank"> A strategy to improve reading comprehension  </a> <br>
    	&raquo; <a href="/2015/07/11/markdown.html" target="_blank"> Markdown guide  </a> <br>
    	&raquo; <a href="/2015/06/29/mathjax.html" target="_blank"> Mathjax guide  </a> <br>
    	&raquo; <a href="/2015/06/21/downloadtool.html" target="_blank"> wget, transmission-remote & amulecmd </a> <br>
    	&raquo; <a href="/2015/07/06/linuxbeginner.html" target="_blank"> UNIX / Linux guide  </a> <br>
    	&raquo; <a href="/2015/07/15/grep.html" target="_blank"> grep, sed & awk </a> <br>
    	&raquo; <a href="/2015/07/13/utilities.html" target="_blank"> Software, apps, scripts & recipes  </a> <br>
    	&raquo; <a href="/2015/06/27/askanswer.html" target="_blank"> Knowledge, Experience & Opinion  </a> 
	</font>
  </div>
</div>


<div width= "100%">
  <div style="background:#ffd";>
    <font><b>TUTORIALS & DOCUMENTS</b></font>
  </div>

  <div border="2">
      <font>
    	&raquo; <a href="http://www.physics.udel.edu/~bnikolic/teaching/phys624/lectures.html" target="_blank"> Lectures in solid state physics  <img src="{{site.baseurl}}images/ext.png" ></img></a><br>
    	&raquo; <a href="http://www.phys.lsu.edu/~jarrell/COURSES/SOLID_STATE_HTML/course_solid.html" target="_blank"> A course in solid state physics  <img src="{{site.baseurl}}images/ext.png" ></img></a> <br>
    	&raquo; <a href="http://www.vectorsite.net/index.html" target="_blank"> Vectors: science, technology, & history  <img src="{{site.baseurl}}images/ext.png" ></img></a> <br>
    	&raquo; <a href="http://maxwells-equations.com/" target="_blank"> Introduction to Maxwell's equations  <img src="{{site.baseurl}}images/ext.png" ></img></a> <br>
    	&raquo; <a href="http://fptl.ru/biblioteka/spravo4niki/dean.pdf" target="_blank"> Lange's handbook of chemistry  <img src="{{site.baseurl}}images/pdf.gif" ></img></a> <br>
    	&raquo; <a href="http://www.uksaf.org/" target="_blank"> UK surface analysis forum  <img src="{{site.baseurl}}images/ext.png" ></img></a> <br>
    	&raquo; <a href="/2015/06/26/physicalconstants.html" target="_blank"> Fundamental physical constants  <img src="{{site.baseurl}}images/ext.png" ></img></a> 
	</font>
  </div>
</div>

<div border="0" width= "100%">
  <div style="background:#ffe7f4;">
    <font><b>EPISODE</b></font>
  </div>

  <div style="padding-top:2px;">
    <font>
      <script language="JavaScript" src="{{ site.baseurl }}javascripts/slide.js"></script>
    </font>
  </div>
</div>
<!-- reserved by uuspider


-->


<div border="0" width= "100%">
  <div style="background:#f2fddb">
    <font><b>GUESTBOOK</b></font>
  </div>

  <div id="disqus_container">
    <div id="disqus_thread"></div>
    <input type="button" value="CHECK"onclick="showdqs()" />
    <script type="text/javascript">
        var disqus_shortname = 'uuspider'; // required: replace example with your forum shortname

        function showdqs() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        };
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</div>



<!--test code end-->
<hr>

<div border="0">
    <font>[<a href="{{ site.baseurl }}images/mail.png" target="_blank">Gmail</a>]</font>
    <font>[<a href="http://www.zhihu.com/collection/20374547" target="_blank">zhihu</a>]</font>
    <font>[<a href="http://book.douban.com/people/uuspider/" target="_blank">books</a>]</font>
    <font>[<a href="http://movie.douban.com/people/uuspider/" target="_blank">movies</a>]</font>
    <font>[<a href="http://www.uuspider.com/" >uuspider</a>]</font>
    <font>[<a href="https://twitter.com/uuspider/" target="_blank">twitter</a>]</font>
    <font>[<a href="https://github.com/uuspider/key/" target="_blank">Github</a>]</font>
</div>
