<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8" />
  <link rel="shortcur icon" href="{{ site.baseurl }}images/i32.ico" type="image/x-icon" />
  <title>{{ page.title }}</title>
  <meta name="author" content="uuspider" />
  <meta name="description" content="about uuspider" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" >
  <link rel="stylesheet" href="{{site.baseurl}}css/styles.css" />

</head>
<body>

  {{ content }}

</body>
</html>
