<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8" />
  <link rel="shortcur icon" href="{{ site.baseurl }}/images/i32.ico" type="image/x-icon" />
  <title>{{ page.title }}</title>
  <meta name="author" content="uuspider" />
  <meta name="description" content="about uuspider" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" >
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" />

</head>
<body>

  {{ content }}

<div  style="display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264508560'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1264508560%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
</body>
</html>
